body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.log-button {
  display: block;
  border: none;
  color: #1AE59A;
  background-color: #E51A65;
  width: 33.3%;
  height: 150px;
  font-size: 48px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}
/*
.log-button:hover {
  border: 5px solid #1AE59A;
  cursor: pointer;
}
*/
.header {
  min-width: 100%;
  text-align: center;
  font-size: 64px;
}

.in {
  color: #1AE59A;
  background-color: #E51A65;
}

.in:hover {
  border: 5px solid #1AE59A;
  cursor: pointer;
}

.out {
  color: #E51A65;
  background-color: #1AE59A;
}

.out:hover {
  border: 5px solid #E51A65;
  cursor: pointer;
}